# Deployment used by `npx convex dev`
NODE_ENV='development'
CONVEX_DEPLOYMENT=prod:YOUR_CONVEX_DEPLOYMENT # team: YOUR_TEAM, project: YOUR_PROJECT

NEXT_PUBLIC_CONVEX_URL=https://YOUR_DEPLOYMENT_NAME.convex.cloud

NEXT_PUBLIC_CLERK_API_URL='https://api.clerk.dev'
NEXT_PUBLIC_CLERK_FAPI_URL='https://clerk.tfm.co.tz'
CLERK_ENCRYPTION_KEY='YOUR_32_CHAR_ENCRYPTION_KEY'
CLERK_WEBHOOK_SIGNING_SECRET=''

NEXT_PUBLIC_CLERK_TELEMETRY_DEBUG=0
NEXT_PUBLIC_CLERK_TELEMETRY_DISABLED=0



CLERK_JWT_ISSUER_DOMAIN='https://clerk.tfm.co.tz'
NEXT_PUBLIC_CLERK_JWT_ISSUER_DOMAIN='https://clerk.tfm.co.tz'


UPLOADTHING_TOKEN='YOUR_UPLOADTHING_TOKEN'

RESEND_API_KEY='YOUR_RESEND_API_KEY'

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY='YOUR_CLERK_PUBLISHABLE_KEY'
CLERK_SECRET_KEY='YOUR_CLERK_SECRET_KEY'


SMS_API='f6450e7b2b2b67c6'
SMS_SECRET='YOUR_SMS_SECRET'
SMS_SENDER='YOUR_SMS_SENDER_ID'
SMS_URL='https://apisms.beem.africa/v1'